<template>
  <v-layout class="home-page-content" column>
    <v-layout>
      <v-flex class="page-header-container" py-4>
        <h1 class="text-primary text-center display-3">Parse RSS</h1>
      </v-flex>
    </v-layout>

    <v-layout class="parse-container" mt-4 column>
      <v-flex>
        <v-text-field v-model="siteInput" class="v-default-input" solo placeholder="Website"></v-text-field>
      </v-flex>

      <v-flex d-flex justify-center>
        <v-btn class="text-fourth primary" @click="getSiteHandler">PARSE</v-btn>
      </v-flex>
    </v-layout>
    <!--    <router-link class="text-primary" to="/home">Home</router-link> |-->
    <!--    <router-link class="text-primary" to="/about">About</router-link>-->

    <v-layout class="parsed-data-container" column>
      <template v-for="(item, index) in fetchedSiteData">
        <item-rss :dataRSS="item" :key="index"></item-rss>
      </template>
    </v-layout>
  </v-layout>

  
</template>

<script>
  import api from "../api/";
  import ItemRSS from "../components/ItemRSS";

  export default {
    name: "Home",
    components: {
      'item-rss': ItemRSS
    },
    data: () => ({
      siteInput: "",
      fetchedSiteData: {}
    }),

    methods: {
      async getSiteHandler() {
        await api.getSite({
          feedUrl: this.siteInput
        });
        await api.getSavedSites();
      },

      async getSavedSites() {
        let result = [];

        try {
          let fetched = await api.findAll();
          result = fetched.data;
          this.fetchedSiteData = result;
        } catch(e) {
          //console.error(e);
        }
      }
    },

    created() {
      this.getSavedSites();
    }
  }
</script>

<style lang="sass">
  @import "../css/common"
  @import "../css/variables"

  .home-page
    .v-default-input
      .v-input__slot
        background-color: $bg-third !important

        input
          color: $text-secondary !important

          &::placeholder
            color: $text-third

  .parse-container
    margin-bottom: 5rem
</style>