@import "variables"

.text-primary
  color: $text-primary !important

.text-secondary
  color: $text-secondary !important

.text-third
  color: $text-third !important

.text-fourth
  color: $text-fourth !important

.bg-primary
  background-color: $bg-primary

.bg-secondary
  background-color: $bg-secondary

.bg-third
  background-color: $bg-third

.border-primary
  //border-width: 1px
  border-color: $border-primary

.border-secondary
  //border-width: 1px
  border-color: $border-secondary

body
  //background-color: $bg-primary
  //font-family: Arial, Helvetica, sans-serif

a
  text-decoration: none

