<template>
<!--  <v-layout header row fluid class="header">-->
<!--  </v-layout>-->

  <v-app-bar app class="app-header secondary">
    <v-flex d-flex justify-center>
      <router-link to="/">
        <img class="logo" src="../assets/logo2.png" alt="RSS hub">
      </router-link>
    </v-flex>
  </v-app-bar>
</template>

<script>
  export default {
    name: "AppHeader"
  }
</script>

<style lang="sass">
  @import "../css/variables"

  .app-header .v-toolbar__content
    border-bottom: 1px solid $border-third

    .logo
      height: 60px

</style>