<template>
  <section class="d-flex column mb-12 px-8">
    <v-layout d-flex column>
      <h4 class="section-title text-primary headline text-center mb-3">{{ dataRSS.title }}</h4>
      <a :href="dataRSS.link" target="_blank" class="text-secondary text-center title mb-6">{{ dataRSS.description }}</a>
      <article v-for="(articleItem, index) in dataRSS.items" :key="index" class="py-2">
        <h5 class="text-secondary mb-3">Author: {{ articleItem.creator }}</h5>
        <p class="text-secondary mb-3">{{ articleItem.pubDate }}</p>
        <p class="text-secondary">
          Categories:
          <span v-for="(category, categoryIndex) in articleItem.categories" :key="categoryIndex">{{ category }}</span>
        </p>
        <v-flex class="text-secondary" v-html="articleItem.content"></v-flex>
      </article>
    </v-layout>
  </section>
</template>

<script>
  export default {
    props: {
      dataRSS: {
        type: Object,
        default: () => ({
          items: [{
            categories: []
          }]
        })
      }
    },
    name: "ItemRSS"
  }
</script>

<style scoped>

</style>