<template>
  <v-app>
    <app-header></app-header>
    <v-content class="secondary">
      <v-container>
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import AppHeader from "./components/Header";

  export default {
    name: 'App',
    components: {
      "app-header": AppHeader
    },
    data: () => ({
      //
    }),
    created() {
      //console.log(this.$vuetify.theme);
    },
  };
</script>

<style lang="sass">
  @import "./css/common.sass"
  @import "./css/_reset.sass"
</style>